<div class="h-100 d-flex flex-column justify-content-center align-items-center login-background">
    <img src="../../../assets/logo.png" alt="logo" class="logo-auth">
    <mat-card>
        <mat-card-title class="text-center my-3">
            <span>Login</span>
        </mat-card-title>
        <mat-card-content>
            <div class="container-fluid">
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Email</mat-label>
                            <input type="text" matInput [formControl]="username" autofocus>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field>
                            <mat-label>Password</mat-label>
                            <input type="password" matInput [formControl]="password">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row my-1">
                    <div class="col">Don't have an account ? <span (click)="goToRegister()" class="text-primary cursor-pointer">Register</span></div>
                </div>
                <div class="row">
                    <div class="text-error d-flex justify-content-center min-height-25"></div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer class="text-center mb-4">
            <button type="submit" (click)="login()" mat-raised-button>Login</button>
        </mat-card-footer>
    </mat-card>
</div>