<div class="container-fluid mt-2">
    <div class="row justify-content-between">
        <div class="col-sm-2">
            <app-genre-selection [(model)]="selectedGenres" [multiple]="true"
                (modelChange)="bookGenreChanged()"></app-genre-selection>
        </div>
        <div class="col-sm-2 text-center">
            <button mat-fab color="primary" (click)="goToEdit()" *ngIf="authService.showLibrarianOptions()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div class="col-sm-2">
            <mat-form-field class="w-100">
                <mat-label>Search</mat-label>
                <mat-icon matPrefix>search</mat-icon>
                <input matInput [(ngModel)]="filter" (ngModelChange)="filterChanged()">
            </mat-form-field>
        </div>
    </div>
</div>
<div class="container-fluid">
    <ng-container *ngFor="let book of books; let i = index;">
        <ng-container *ngIf="i % 4 === 0">
            <div class="row p-0 mb-2">
                <div class="col-sm-3" *ngFor="let indx of [i + 0, i + 1, i + 2, i + 3]">
                    <ng-container *ngIf="books[indx]; let nextItem">
                        <app-book [book]="nextItem" [height]="35"></app-book>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>