<mat-card (click)="goToDetails()">
    <mat-card-header>
        <mat-card-title class="cursor-pointer">{{author.name}}</mat-card-title>
        <mat-card-subtitle>{{author.surname}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="author.imageUrl" alt="author image" [ngStyle]="{'height': height + 'rem'}"
        class="cursor-pointer">
    <mat-card-content>
    </mat-card-content>
    <mat-card-actions class="justify-content-between">
        <button mat-button disabled>Genres: {{getGenres()}}</button>
        <button mat-mini-fab color="primary" (click)="goToEdit()" *ngIf="authService.showLibrarianOptions()">
            <mat-icon>edit</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>