<div class="container-fluid m-0 p-0 h-100">
  <div class="row m-0 p-0">
    <mat-toolbar color="primary" *ngIf="showToolbar">
      <button mat-icon-button class="example-icon" aria-label="menu-icon-button" (click)="drawer.toggle()">
        <mat-icon>{{drawer.opened ? 'keyboard_arrow_left' : 'menu'}}</mat-icon>
      </button>
      <span (click)="goHome()" class="cursor-pointer">LibraRDF</span>
      <div (click)="goHome()" class="cursor-pointer" mat-card-avatar [ngStyle]="{
        'background-image': 'url(../assets/logo.png)',
        'background-size': 'cover',
        'margin':'0'
      }">
      </div>
      <span class="spacer"></span>
      <button mat-raised-button class="me-2 accent-2 text-dark" aria-label="" color="primary" (click)="goToLogin()"
        *ngIf="!isAuthenticated()">Login</button>
      <button mat-raised-button aria-label="" color="warn" (click)="goToRegister()"
        *ngIf="!isAuthenticated()">Register</button>
      <div *ngIf="isAuthenticated()">{{getCurrentUser()}}</div>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="user" *ngIf="isAuthenticated()">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
  </div>
  <div class="row m-0 p-0" [ngClass]="{'h-100': !showToolbar}">
    <mat-drawer-container class="h-100">
      <mat-drawer #drawer mode="side" class="sidebar-width">
        <div class="container-fluid">
          <div class="row px-2 my-1">
            <button mat-raised-button class="w-100" (click)="goToBooks(); drawer.close()">Books</button>
          </div>
          <div class="row px-1 my-1">
            <mat-divider></mat-divider>
          </div>
          <div class="row px-2 my-1">
            <button mat-raised-button class="w-100" (click)="goToAuthors(); drawer.close()">Authors</button>
          </div>
          <div class="row px-1 my-1">
            <mat-divider></mat-divider>
          </div>
          <div class="row px-2 my-1">
            <button mat-raised-button class="w-100" (click)="goToGenres(); drawer.close()">Genres</button>
          </div>
        </div>
      </mat-drawer>

      <mat-drawer-content>
        <router-outlet></router-outlet>
      </mat-drawer-content>

    </mat-drawer-container>
  </div>
</div>

<ngx-spinner type="ball-clip-rotate-multiple"></ngx-spinner>

<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="logout()">
    <mat-icon>power_settings_new</mat-icon>
    <span>Logout</span>
  </button>
</mat-menu>