<div class="container mt-2">
    <div class="row text-center">
        <div class="col-11">
            <mat-form-field class="w-100">
                <mat-label>Search</mat-label>
                <input matInput (change)="filterChanged($event)">
            </mat-form-field>
        </div>
        <div class="col-1 text-end">
            <button mat-fab color="primary" (click)="addAuthor()"><mat-icon>add</mat-icon></button>
        </div>
    </div>
</div>
<div class="container-fluid">
    <ng-container *ngFor="let book of authors; let i = index;">
        <ng-container *ngIf="i % 4 === 0">
            <div class="row p-0 mb-2">
                <div class="col-sm-3" *ngFor="let indx of [i + 0, i + 1, i + 2, i + 3]">
                    <ng-container *ngIf="authors[indx]; let nextItem">
                        <app-author [author]="nextItem" [height]="35"></app-author>
                    </ng-container>
                </div>
            </div>
        </ng-container>
    </ng-container>
</div>